# dependencies
frontend/node_modules
contracts/node_modules

# next.js
frontend/.next/
frontend/out/
frontend/.env.local

# production
frontend/build

# vercel
frontend/.vercel

#Hardhat files
contracts/cache
contracts/artifacts

#env files
backend/.env
frontend/.env
